.main-nav {
  background-color: #252525;
  position: relative;
}

.main-nav a {
  text-transform: uppercase;
  font-size: 14pt;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  margin: 5px;
  color: #fff;
  cursor: pointer;
}

.main-nav li {
  width: 179px;
}

/* Header */
.bg-video {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bg-video video {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;
}

.bg-header {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url(/images/print.jpg) no-repeat center;
  background-size: cover;
}

/* phone */
@media (max-width: 767px) {
  .main-nav li {
    width: auto;
  }
}

/* tablet */
/* notebooks */
/* desktops */
