#success {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: green;
    display: none;
}

#error {
    width: 100%;
    padding: 10px;
    text-align: center;
    color: red;
    display: none;
}

.btn-contact {
    background-color: #29b0aa!important;
    width: 100%;
    font-size: 22px!important;
    color: white;
    font-weight: 700!important;
    text-transform: uppercase;
    padding: 0 12px!important;
}

.custom-form .col-lg-6 {
    padding: 0;
}

.contact-text {
    text-align: left;
    padding-top: 20px;
    line-height: 0.7;
    font-weight: 500!important;
}
.text-center {
    margin-top: 3vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    border-top: 7px solid #1cbbb4;
}

.contact-section {
    height: 100vh!important;
    width: 100vw!important;
    .center {
        top: 45%;
    }
    h1 {
        font-weight: 700;
        font-size: 42pt;
        text-transform: uppercase;
        padding-bottom: 30px;
    }
}

.social-icons {
    padding-top: 68px;
    padding-right: 200px;
    .vk, .inst, .gplus, .fb{
        height: 57px;
        width: 57px;
        float: left;
        margin-left: 25px;
        transition: all 1s;
        &:hover {
            height: 57px;
            width: 57px;
            background-size: 100%;
            transition: all 1s;
        }
    }
    .vk {
        background: url(/images/socicon/vk.jpg) no-repeat;
        background-size: 100%;
        &:hover {
            background: url(/images/socicon/vkhover.jpg) no-repeat;
            background-size: 100%;
        }
    }
    .inst {
        background: url(/images/socicon/inst.jpg) no-repeat;
        background-size: 100%;
        &:hover {
            background: url(/images/socicon/insthover.jpg) no-repeat;
            background-size: 100%;
        }
    }
    .gplus {
        background: url(/images/socicon/gplus.jpg) no-repeat;
        background-size: 100%;
        &:hover {
            background: url(/images/socicon/gplushover.jpg) no-repeat;
            background-size: 100%;
        }
    }
    .fb {
        background: url(/images/socicon/fb.jpg) no-repeat;
        background-size: 100%;
        &:hover {
            background: url(/images/socicon/fbhover.jpg) no-repeat;
            background-size: 100%;
        }
    }
}
