//NAVIGATION
.navbar .col-lg-10 {
	padding-right: 0!important;
}
.main-nav {
	background-color: #252525;
	position: relative;
	a {
		text-transform: uppercase;
		font-size: 14pt;
		letter-spacing: 1px;
		display: inline-block;
		text-align: center;
		margin: 5px;
		color: #fff;
		cursor: pointer
	}
	.hoverup1{
		background: #29b0aa;
	}
	.hoverup2{
		background:#515151;
	}
	li {
		width: 186px;
		margin: 0;
		padding: 0;
	}
}

/* Header */

//HEADER
.header {
	h1 {
		color: #000;
		font-weight: 800;
		font-size: 8vw;
		margin: 0 auto;
		line-height: 1;
	}
	h2 {
		color: #fff;
		font-size: 3vw;
		line-height: 1.5;
	}
	h3 {
		color: #fff;
		font-size: 1.5vw;
		line-height: 1;
		font-weight: 300;
	}
	p {
		color: #fff;
		font-weight: 300;
		font-size: 0.85em;
		margin: 0 auto;
	}
	hr {
		border: 4px solid #1cbbb4;
		width: 20vw;
	}
}
.bg-video {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	video {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		min-width: 100%;
		min-height: 100%;
	}
}
.bg-header {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background: url(/images/print.jpg) no-repeat;
	background-size: cover;
}
