//NAVIGATION
.main-nav {
    background-color: #252525;
    position: relative;
    a {
        text-transform: uppercase;
        font-size: 14pt;
        letter-spacing: 1px;
        display: inline-block;
        text-align: center;
        margin: 5px;
        color: #fff;
        cursor: pointer
    }
    li {
        width: 179px;
    }
}

.viewing-page-1 .cd-stretchy-nav
{
    opacity: 0;
    transition-delay: 5s;
    transition: opacity 0.6s ease-out;
}

.viewing-page-2 .cd-stretchy-nav,
.viewing-page-3 .cd-stretchy-nav,
.viewing-page-4 .cd-stretchy-nav,
.viewing-page-5 .cd-stretchy-nav,
{
    opacity: 1;
    transition: opacity 1s ease;
}


/* Header */

.bg-video {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    video {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
}

.bg-header {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: url(/images/print.jpg) no-repeat center;
    background-size: cover;
}

//MEDIA

/* phone */

@media (max-width: 767px) {
    .main-nav li {
        width: auto;
    }
}

/* tablet */

@media (min-width: 768px) {}


/* notebooks */

@media (min-width: 992px) {}


/* desktops */

@media (min-width: 1200px) {}

