//NAVIGATION
.main-nav {
    background-color: #252525;
    position: relative;
    a {
        text-transform: uppercase;
        font-size: 14pt;
        letter-spacing: 1px;
        display: inline-block;
        text-align: center;
        margin: 5px;
        color: #fff;
        cursor: pointer
    }
    li {
        width: 179px;
    }
}

.viewing-page-1 .cd-stretchy-nav {
    opacity: 0;
    transition-delay: 5s;
    transition: opacity 0.6s ease-out;
}

.viewing-page-2 .cd-stretchy-nav,
.viewing-page-3 .cd-stretchy-nav,
.viewing-page-4 .cd-stretchy-nav,
.viewing-page-5 .cd-stretchy-nav,
{
    opacity: 1;
    transition: opacity 1s ease;
}


/* Header */
.overlay {
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.header {
    z-index: 2;
}

.bg-video {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, .3);
    video {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
}

//.bg-video::after{
//    content: ' ';
//	background-color: #000;
//	height: 100%;
//	opacity: 0.8;
//	position: absolute;
//    transition: all 1s ease;
//	width: 100%;
//}

.bg-header {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: url(/images/print.jpg) no-repeat center;
    background-size: cover;
}

