
//NAVIGATION
.main-nav {
    background-color: #252525;
    position: relative;
    a {
        text-transform: uppercase;
        font-size: 14pt;
        letter-spacing: 1px;
        display: inline-block;
        text-align: center;
        margin: 5px;
        color: #fff;
    }
    li {
        width: 179px;
    }
}


/* Header */

.bg-video {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    video {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        min-width: 100%;
        min-height: 100%;
    }
}


