/* Mobile devices */
@media (max-width: 768px) {
  //    NAV
  .cd-primary-nav {
    padding-top: 18vh !important;
    a {
      font-size: 4.5vh;
    }
  }
  .cd-primary-nav-trigger {
    width: 42px!important;
    height: 35px!important;
    box-shadow: none;
    right: 0;
    top: 0;
  }
	.main-section, .services-section, .products-section, .partners-section{
		height: 100vh!important;
	}
  //	MAIN
  .main-section {
    .header {
      h1 {
        color: #000;
        font-weight: 800;
        font-size: 16vw;
        margin: 0 auto;
        line-height: 1;
      }
      h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 1;
      }
    }
    h2 {
      font-size: 8vw;
      line-height: 1;
    }
    h3 {
      font-size: 4vw;
      line-height: 1;
    }
    img {
      width: 30vw;
    }
    hr {
      margin: 10px auto;
    }
  }
  //    SERVICE
  .services-section {
    h1 {
      font-size: 7vw;
      text-transform: uppercase;
    }
		
    .img1,
    .img2,
    .img3,
    .img4 {
      height: 25vh;
    }
    .service-inside-center {
      top: 26%;
    }
  }
  //    PRODUCT
  .products-section {
    h3 {
      margin-top: 2vh !important;
      font-size: 6vw;
    }
    p {
      font-size: 2.5vw;
    }
    hr {
      width: 30vw;
      margin: 8px 0;
    }
    li {
      font-size: 2.6vw;
    }
    .container-fluid {
      height: 100vh;
    }
    .block-2,
    .block-3 {
      width: 100vw!important;
//      height: 50vh;
      img {
        width: 100vw!important;
      }
    }
    .block-2 {
      padding: 0 15px !important;
    }
    .carousel-wrapper {
      left: 30vw;
      top: initial;
      bottom: 2vh;
      padding: 0 !important;
      img {
        height: 18vw;
        width: 18vw;
      }
    }
  }
  //    PARTNERS
  .partners-section {
    h1 {
      font-size: 12vw;
      text-transform: uppercase;
    }
    hr {
      margin: 20px auto !important;
    }
    img {
      width: 12vh;
      height: 12vh;
    }
    .partners-bord-top {
      border: none;
    }
    .partners-bord-bot {
      border: none;
    }
    .col-lg-2 {
      padding: 2vh 1vw 3vh;
    }
    .center {
      top: 47%;
    }
  }
  //    CONTACTS
  .contact-section {
    h1 {
      font-size: 12vw;
      padding-bottom: 0;
      padding-top: 3vh;
    }
    p {
      font-size: 2vh;
    }
    .social-icons {
      padding-top: 3vh !important;
      .vk,
      .inst,
      .gplus,
      .fb {
        height: 15vw;
        width: 15vw;
        margin-left: 6vw;
        &:hover {
          height: 15vw;
          width: 15vw;
        }
      }
    }
  }
  //    FOOTER
  footer {
    display: none!important;
  }
  #fp-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width:1024px) and (orientation : portrait){
  .cd-primary-nav {
//    padding-top: 18vh !important;
    a {
      font-size: 4.5vh;
    }
  }
  .cd-primary-nav-trigger {
    width: 62px!important;
    height: 45px!important;
    right: 0!important;
    top: 3vh;
  }
	.services-section {
  .img1,
  .img2,
  .img3,
  .img4 {
    background-size: cover;
  }
}
.products-section {
  h3 {
    margin-top: 5vh;
    font-size: 4vw;
  }
  p {
    font-size: 2vw;
  }
  hr {
    width: 35vw;
    margin: 8px 0;
  }
  li {
    font-size: 2vw;
  }
  .container-fluid {
    height: 100vh;
  }
  .block-2,
  .block-3 {
    width: 100vw!important;
    height: 50vh;
    img {
      width: 100vw!important;
    }
  }
  .block-2 {
    padding: 0 15px !important;
  }
  .carousel-wrapper {
    left: 30vw;
    top: initial;
    bottom: 2vh;
    padding: 0 !important;
    img {
      height: 18vw;
      width: 18vw;
    }
  }
}
}
.partners-section {
  .partners-bord-top {
    border: none;
  }
  .partners-bord-bot {
    border: none;
  }
}
/* Small devices (tablets, 768px and up) */

  @media (device-aspect-ratio: 1366/768),
  (device-aspect-ratio: 1360/768) {
    .cd-primary-nav {
      height: auto;
      padding-top: 10% !important;
    }
    .main-section {
      .header {
        h1 {
          font-size: 7vw;
        }
        h2 {
          font-size: 2.6vw;
        }
        h3 {
          font-size: 1.4vw;
        }
      }
    }
    .services-section {
      .img3 {
        .service-inside-center {
          top: 30.5%;
        }
      }
      .img4 {
        .service-inside-center {
          top: 30.5%;
        }
      }
      .service-inside-center {
        position: inherit;
        top: 28%;
      }
    }
    .products-section {
      h3 {
        margin-top: -2px;
        font-size: 3vh;
      }
      p {
        font-size: 2vh;
      }
      .container-fluid {
        padding: 0;
        height: 70vh;
      }
      li {
        font-size: 2vh;
      }
      .carousel-wrapper {
        left: 43.5vw;
      }
    }
    .partners-section {
      //            уменьшить сетку.
    }
    footer {
      height: 60px;
      transition-delay: 4s;
      transition: all 1s ease-in-out;
    }
    .contact-section .text-center {
      margin-top: 0;
    }
  }
