/* Small devices */

@media (max-width: 768px) {
    //    NAV
    .cd-primary-nav {
        padding: 30% 0!important;
    }
    .cd-primary-nav-trigger {
        width: 42px!important;
        height: 35px!important;
        box-shadow: none;
        right: 3%;
        top: 5%;
    }
    //    MAIN
    .main-section {
        h1 {
            font-size: 15vw;
        }
        h2 {
            font-size: 5.3vw;
        }
        h3 {
            font-size: 3vw;
        }
    }
    //    SERVICE
    .services-section {
        hr {
            width: 25vw;
            border: 1.5px solid;
        }
        h1 {
            font-size: 7vw;
            text-transform: uppercase;
        }
        h4 {
            font-size: 2vh;
            text-transform: uppercase;
        }
        .img1,
        .img2,
        .img3,
        .img4 {
            max-width: 100%;
            height: 25vh;
            margin: auto!important;
        }
        .img1,
        .img2,
        .img3,
        {
            border-bottom: 4px solid;
        }
        .service-inside-center {
            top: 14%;
        }
    }
    //    PRODUCT
    .products-section {
        h3 {
            margin-top: 10px!important;
            font-size: 6vw;
        }
        p {
            font-size: 2.5vw;
        }
        hr {
            width: 30vw;
            margin: 8px 0;
        }
        li {
            font-size: 2.6vw;
        }
        .container-fluid {
            height: 100vh;
        }
        .block-2,
        .block-3 {
            width: 100vw!important;
            img {
                width: 100vw!important;
            }
        }
        .block-2 {
            height: 55vh;
            padding: 0 15px!important;
        }
        .block-3 {
            height: 45vh;
        }
        .carousel-wrapper {
            left: 30vw;
            top: 88vh;
            img {
                height: 20vw;
                width: 20vw;
            }
        }
    }
    //    PARTNERS
    .partners-section {
        h1 {
            font-size: 12vw;
            text-transform: uppercase;
        }
        hr {
            margin: 20px auto!important;
        }
        img {
            width: 12vh;
            height: 12vh;
        }
    }
    .partners-section .col-lg-2 {
        padding: 2vh 1vw 3vh 1vw;
    }
    .partners-section .center {
        top: 47%;
    }
    //    CONTACTS
    .contact-section {
        h1 {
            font-size: 12vw;
            padding-bottom: 0;
            padding-top: 3vh;
        }
        p {
            font-size: 2vh;
        }
        .social-icons {
            padding-top: 2vh!important;
            padding: 0;
            img {
                padding-left: 1vw;
                height: 19vw;
                width: 20vw;
            }
        }
    }
    //    FOOTER
    footer {
        display: none!important;
    }
    .onepage-pagination {
        display: none;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width:1199px) {
    .services-section {
        .img1,
        .img2,
        .img3,
        .img4 {
            height: 40vh;
        }
        .img4 {
            .service-inside-center {
                top: 30%;
            }
        }
    }
    .products-section { 
        .block-2 {
            padding: 0 10px!important;
        }
        h3 {
            font-size: 2.1vw;
            margin-top: -4px!important;
        }
        p {
            font-size: 1.5vh;
        }
        .modLi li {
            font-size: 2.2vh;
        }
    }
    .contact-section {
        h1 {
            font-size: 5vw;
            padding-bottom: 0;
            padding-top: 3vh;
        }
        p {
            font-size: 2vh;
        }
        .social-icons {
            padding-top: 2vh!important;
            padding: 0;
            img {
                padding-left: 1vw;
                height: 5vw;
                width: 6vw;
            }
        }
    }
    footer {
        height: 100px!important;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .viewing-page-1 .cd-header {
        opacity: 0;
        transition-delay: 5s;
        transition: opacity 0.6s ease-out;
    }
    .viewing-page-2 .cd-header,
    .viewing-page-3 .cd-header,
    .viewing-page-4 .cd-header,
    .viewing-page-5 .cd-header,
    {
        opacity: 1;
        transition: opacity 1s ease;
    }
    .carousel-wrapper {
        left: 45.2vw;
    }
}


/* retina */

@media only screen and ( min-width: 2878px) {
    .contact-section .text-center {
        margin-top: 50px;
    }
    .products-section {
        h3 {
            margin-top: -4px!important;
            font-size: 3vh;
        }
        p {
            font-size: 1.65vh;
        }
        .container-fluid {}
    }
    footer {
        height: 140px;
        transition-delay: 4s;
        transition: all 1s ease-in-out;
    }
}