/* -------------------------------- 

Stretchy Nav style

-------------------------------- */

.cd-stretchy-nav {
    position: relative;
    z-index: 2;
    top: 5%;
    right: 10%;
}

.cd-stretchy-nav .stretchy-nav-bg {
    /* this is the stretching navigation background */
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 50%;
    height: 60px;
    border-radius: 30px;
    background: #9acd91;
    opacity: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: height 0.2s, box-shadow 0.2s;
    -moz-transition: height 0.2s, box-shadow 0.2s;
    transition: height 0.2s, box-shadow 0.2s;
}

.cd-stretchy-nav.nav-is-visible .stretchy-nav-bg {
    height: 100%;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
    opacity: 1;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

.cd-nav-trigger {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /* replace text with image */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
}

//.cd-nav-trigger span,
//.cd-nav-trigger span::after,
//.cd-nav-trigger span::before {
//    /* this is the hamburger icon */
//    position: absolute;
//    width: 42px;
//    height: 3px;
//    background-color: #29b0aa;
//}



.cd-nav-trigger span {
    /* middle line of the hamburger icon */
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-nav-trigger span::after,
.cd-nav-trigger span::before {
    /* top and bottom lines of the hamburger icon */
    content: '';
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

.cd-nav-trigger span::before {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}

.cd-nav-trigger span::after {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
}

.no-touch .cd-nav-trigger:hover ~ .stretchy-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.nav-is-visible .cd-nav-trigger span {
    background-color: transparent;
}

.nav-is-visible .cd-nav-trigger span::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-is-visible .cd-nav-trigger span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cd-stretchy-nav ul {
    position: relative;
    z-index: 2;
    padding: 60px 0 0;
    visibility: hidden;
    -webkit-transition: visibility 0.3s;
    -moz-transition: visibility 0.3s;
    transition: visibility 0.3s;
    text-align: right;
}

.cd-stretchy-nav ul a {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 calc(1em + 60px) 0 1em;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    transition: color 0.2s;
}

.cd-stretchy-nav ul a::after {
    /* navigation item icons */
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    right: 22px;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    opacity: .6;
    background: url(../img/cd-sprite-1.svg) no-repeat 0 0;
}

.cd-stretchy-nav ul a::before {
    /* line visible next to the active navigation item */
    content: '';
    position: absolute;
    width: 3px;
    height: 16px;
    top: 50%;
    right: 60px;
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(0);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(0);
    -o-transform: translateX(3px) translateY(-50%) scaleY(0);
    transform: translateX(3px) translateY(-50%) scaleY(0);
    background-color: #0a9581;
}

.cd-stretchy-nav ul li:first-of-type a::after {
    /* change custom icon using image sprites */
    background-position: -32px 0;
}

.cd-stretchy-nav ul li:nth-of-type(2) a::after {
    background-position: -64px 0;
}

.cd-stretchy-nav ul li:nth-of-type(3) a::after {
    background-position: -48px 0;
}

.cd-stretchy-nav ul li:nth-of-type(4) a::after {
    background-position: 0 0;
}

.cd-stretchy-nav ul li:nth-of-type(5) a::after {
    background-position: -16px 0;
}

.cd-stretchy-nav ul span {
    /* navigation item labels */
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-25px);
    -moz-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    -o-transform: translateX(-25px);
    transform: translateX(-25px);
}

.cd-stretchy-nav.nav-is-visible ul {
    visibility: visible;
}

.cd-stretchy-nav.nav-is-visible ul a::after {
    /* navigation item icons */
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
    -webkit-animation: scaleIn 0.15s backwards;
    -moz-animation: scaleIn 0.15s backwards;
    animation: scaleIn 0.15s backwards;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.cd-stretchy-nav.nav-is-visible ul a.active {
    color: #ffffff;
}

.cd-stretchy-nav.nav-is-visible ul a.active::after {
    opacity: 1;
}

.cd-stretchy-nav.nav-is-visible ul a.active::before {
    -webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
    -moz-transform: translateX(3px) translateY(-50%) scaleY(1);
    -ms-transform: translateX(3px) translateY(-50%) scaleY(1);
    -o-transform: translateX(3px) translateY(-50%) scaleY(1);
    transform: translateX(3px) translateY(-50%) scaleY(1);
    -webkit-transition: -webkit-transform 0.15s 0.3s;
    -moz-transition: -moz-transform 0.15s 0.3s;
    transition: transform 0.15s 0.3s;
}

.cd-stretchy-nav.nav-is-visible ul span {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-animation: slideIn 0.15s backwards;
    -moz-animation: slideIn 0.15s backwards;
    animation: slideIn 0.15s backwards;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover {
    color: #ffffff;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover::after {
    opacity: 1;
}

.no-touch .cd-stretchy-nav.nav-is-visible ul a:hover span {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px);
}

.cd-stretchy-nav.nav-is-visible ul li:first-of-type a::after,
.cd-stretchy-nav.nav-is-visible ul li:first-of-type span {
    -webkit-animation-delay: 0.05s;
    -moz-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(2) span {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(3) span {
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(4) span {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) a::after,
.cd-stretchy-nav.nav-is-visible ul li:nth-of-type(5) span {
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    animation-delay: 0.25s;
}


/* -------------------------------- 

keyframes

-------------------------------- */

@-webkit-keyframes scaleIn {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }
    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@-moz-keyframes scaleIn {
    from {
        -moz-transform: translateY(-50%) scale(0);
    }
    to {
        -moz-transform: translateY(-50%) scale(1);
    }
}

@keyframes scaleIn {
    from {
        -webkit-transform: translateY(-50%) scale(0);
        -moz-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
        -o-transform: translateY(-50%) scale(0);
        transform: translateY(-50%) scale(0);
    }
    to {
        -webkit-transform: translateY(-50%) scale(1);
        -moz-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
        -o-transform: translateY(-50%) scale(1);
        transform: translateY(-50%) scale(1);
    }
}

@-webkit-keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translateX(-25px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes slideIn {
    from {
        opacity: 0;
        -moz-transform: translateX(-25px);
    }
    to {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        -webkit-transform: translateX(-25px);
        -moz-transform: translateX(-25px);
        -ms-transform: translateX(-25px);
        -o-transform: translateX(-25px);
        transform: translateX(-25px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

//________________________________________________________________
//.cd-menu-trigger {
//    display: inline-block;
//    position: absolute;
//    right: 0;
//    top: 0;
//    height: 50px;
//    line-height: 50px;
//    padding: 0 .8em;
//    text-transform: uppercase;
//    font-weight: bold;
//    font-size: 14px;
//    font-size: 0.875rem;
//    .icon-bar {
//        width: 35px;
//        height: 4px;
//        border-radius: 1px;
//    }
//    .icon-bar + .icon-bar{
//        margin-top: 10px;
//    }
//}
//
//.cd-menu-trigger span {
//    /* hamburger icon */
//    position: relative;
//    display: inline-block;
//    width: 18px;
//    height: 2px;
//    background-color: white;
//    vertical-align: middle;
//    margin-left: 10px;
//    -webkit-transform: translateY(-2px);
//    -moz-transform: translateY(-2px);
//    -ms-transform: translateY(-2px);
//    -o-transform: translateY(-2px);
//    transform: translateY(-2px);
//}
//
//.cd-menu-trigger span::before,
//.cd-menu-trigger span::after {
//    content: '';
//    display: inline-block;
//    position: absolute;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    background-color: inherit;
//    -webkit-transition: all 0.2s;
//    -moz-transition: all 0.2s;
//    transition: all 0.2s;
//}
//
//.cd-menu-trigger span::before {
//    top: -6px;
//}
//
//.cd-menu-trigger span::after {
//    bottom: -6px;
//}
//
//.no-touch .cd-menu-trigger:hover span::before {
//    top: -8px;
//}
//
//.no-touch .cd-menu-trigger:hover span::after {
//    bottom: -8px;
//}
//
//@media only screen and (min-width: 768px) {
//    .cd-menu-trigger {
//        top: 16px;
//        right: 10px;
//        font-size: 16px;
//        font-size: 1rem;
//    }
//}
//
//@media only screen and (min-width: 1170px) {
//    .cd-menu-trigger {
//        right: 60px;
//    }
//}
//
//#main-nav {
//    position: relative;
//    top: 0;
//    left: 35%;
//    width: 30%;
//    height: 82%;
//    background: #eeecf5;
//    /* Force Hardware Acceleration in WebKit */
//    -webkit-transform: translateZ(0);
//    -webkit-backface-visibility: hidden;
//    /* we move this element off the canvas */
//    -webkit-transform: translateY(-111%);
//    -moz-transform: translateY(-111%);
//    -ms-transform: translateY(-111%);
//    -o-transform: translateY(-111%);
//    transform: translateY(-111%);
//    -webkit-transition-property: -webkit-transform;
//    -moz-transition-property: -moz-transform;
//    transition-property: transform;
//    -webkit-transition-duration: 0.5s;
//    -moz-transition-duration: 0.5s;
//    transition-duration: 0.5s;
//    z-index: 3;
//}
//
//#main-nav ul {
//    height: 100%;
//}
//
//#main-nav li {
//    height: 20%;
//}
//
//#main-nav li a {
//    position: relative;
//    display: block;
//    padding: 0 10%;
//    height: 100%;
//    border-bottom: 1px solid #dfdbec;
//    color: #3a393f;
//    font-size: 20px;
//    font-size: 1.25rem;
//    font-weight: bold;
//}
//
//#main-nav li a span {
//    position: absolute;
//    left: 50%;
//    top: 50%;
//    bottom: auto;
//    right: auto;
//    -webkit-transform: translateX(-50%) translateY(-50%);
//    -moz-transform: translateX(-50%) translateY(-50%);
//    -ms-transform: translateX(-50%) translateY(-50%);
//    -o-transform: translateX(-50%) translateY(-50%);
//    transform: translateX(-50%) translateY(-50%);
//}
//
//.no-touch #main-nav li a:hover {
//    background-color: #FFF;
//}
//
//#main-nav li:last-child a {
//    border-bottom: none;
//}
//
//#main-nav .cd-close-menu {
//    position: absolute;
//    top: 0;
//    right: 0;
//    display: inline-block;
//    width: 40px;
//    height: 40px;
//    background-color: #d26c64;
//    /* image replacement */
//    overflow: hidden;
//    text-indent: 100%;
//    white-space: nowrap;
//}
//
//#main-nav .cd-close-menu::before,
//#main-nav .cd-close-menu::after {
//    content: '';
//    display: inline-block;
//    position: absolute;
//    top: 18px;
//    left: 10px;
//    width: 20px;
//    height: 3px;
//    background-color: #FFF;
//    -webkit-transition-property: -webkit-transform;
//    -moz-transition-property: -moz-transform;
//    transition-property: transform;
//    -webkit-transition-duration: 0.3s;
//    -moz-transition-duration: 0.3s;
//    transition-duration: 0.3s;
//}
//
//#main-nav .cd-close-menu::before {
//    -webkit-transform: rotate(45deg);
//    -moz-transform: rotate(45deg);
//    -ms-transform: rotate(45deg);
//    -o-transform: rotate(45deg);
//    transform: rotate(45deg);
//}
//
//#main-nav .cd-close-menu::after {
//    -webkit-transform: rotate(135deg);
//    -moz-transform: rotate(135deg);
//    -ms-transform: rotate(135deg);
//    -o-transform: rotate(135deg);
//    transform: rotate(135deg);
//}
//
//.no-touch #main-nav .cd-close-menu:hover::before {
//    -webkit-transform: rotate(225deg);
//    -moz-transform: rotate(225deg);
//    -ms-transform: rotate(225deg);
//    -o-transform: rotate(225deg);
//    transform: rotate(225deg);
//}
//
//.no-touch #main-nav .cd-close-menu:hover::after {
//    -webkit-transform: rotate(315deg);
//    -moz-transform: rotate(315deg);
//    -ms-transform: rotate(315deg);
//    -o-transform: rotate(315deg);
//    transform: rotate(315deg);
//}
//
//#main-nav.is-visible {
//    position: relative;
//    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
//    -webkit-transform: translateY(0);
//    -moz-transform: translateY(0);
//    -ms-transform: translateY(0);
//    -o-transform: translateY(0);
//    transform: translateY(0);
//}
//
//.no-js #main-nav {
//    position: static;
//    -webkit-transform: translateY(0);
//    -moz-transform: translateY(0);
//    -ms-transform: translateY(0);
//    -o-transform: translateY(0);
//    transform: translateY(0);
//}
//
//.no-js #main-nav .cd-close-menu {
//    display: none;
//}
//
//.cd-shadow-layer {
//    position: relative;
//    top: 0;
//    left: 0;
//    height: 100%;
//    width: 100%;
//    background: rgba(0, 0, 0, 0.4);
//    z-index: 2;
//    opacity: 0;
//    visibility: hidden;
//    -webkit-transition: visibility 0s 0.5s, opacity 0.5s 0s;
//    -moz-transition: visibility 0s 0.5s, opacity 0.5s 0s;
//    transition: visibility 0s 0.5s, opacity 0.5s 0s;
//}
//
//.cd-shadow-layer.is-visible {
//    opacity: 1;
//    visibility: visible;
//    -webkit-transition-delay: 0s;
//    -moz-transition-delay: 0s;
//    transition-delay: 0s;
//}