@import "options";
.partners-section {
    background: white!important;
    height: 100vh!important;
    width: 100vw!important;
    img {
        height: 74px;
        width: 66px;
    }
    .col-lg-2 {
        padding: 60px;
    }
    hr {
        margin-top: 40px;
        margin-bottom: 40px;
        background: $activeColor;
        height: 5px;
        width: 15%;
    }
    h1 {
        font-weight: 700;
        font-size: 42pt;
    }
}

.partners-bord-top {
    border-bottom: 4px solid #ebebeb;
    border-right: 4px solid #ebebeb;
}

.partners-bord-bot {
    border-right: 4px solid #ebebeb;
}