.services-section {
    color: white;
    background: linear-gradient(#000 75%, #29b0aa 75%, #29b0aa 76.5%, #fff 15%);
    .onepagescroll {
        text-decoration: none;
        color: white;
        cursor: pointer;
        font-weight: 100;
        &:hover{
            color: #29b0aa;
            transition: all 1s ease-in-out;
        }
    }
    h1 {
        font-size: 2.1vw;
        text-transform: uppercase;
    }
    h4{
        font-size: 1.1vw;
    }
    hr{
        border: 3px solid #29b0aa;
        width: 5vw;
    }
}

.service-inside-center {
    position: inherit;
    top: 25%;
}

.img1 {
    background: url(/images/pack.png);
    background-size: 100%;
    height: 377px;
    width: 100%;
    transition: all 2s ease;
}

.img2 {
    background: url(/images/offset.png);
    background-size: 100%;
    height: 377px;
    width: 100%;
    transition: all 2s ease;
}

.img3 {
    background: url(/images/promo.png);
    background-size: 100%;
    height: 377px;
    width: 100%;
    transition: all 2s ease;
    .service-inside-center{
        top: 15%;
    }
}

.img4 {
    background: url(/images/etc.png);
    background-size: 100%;
    height: 377px;
    width: 100%;
    transition: all 2s ease;
    .service-inside-center{
        top: 33%;
    }
}

.img1,
.img2,
.img3,
.img4 {
    &:hover {
        background-size: 160%;
        transition: all 7s ease-in-out .4s;
    }
}
