@import 'fontset';
.gap-15 {
    height: 15px;
}

.gap-30 {
    height: 30px;
}

.gap-45 {
    height: 450px;
}

.gap-60 {
    height: 60px;
}

body {
    overflow-x: hidden;
}

//NAV-BUTTOn
.nav-button {
    z-index: 2;
    position: relative;
    top: 15%;
    transform: translateY(-15%);
    left: 30%;
}

.hide{
    display: none;
}

//CENTERED ITEMS
.center {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

@import 'main';
@import 'service-section';
@import 'product-section';
@import 'partners-section';
@import 'onepagescroll';
@import 'menu-animation';

//MEDIA

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width:991px) {
    .center {
        top: 30%;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}